@import "tailwindcss";
@import 'locomotive-scroll/dist/locomotive-scroll.css';
:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --green: #2F8B33;
  --brand: #354EA0;
}

@theme inline {
  --color-brandColor: rgba(53, 78, 160, 1);

  --color-darkbrown: rgba(70, 43, 23, 1);
  --color-darkblue: rgba(33, 40, 50, 1);

  --color-gray: rgba(82, 82, 82, 1);
  --color-lightbrown:rgba(168, 106, 70, 1);

  --color-cream: rgba(255, 252, 243, 1);
  --color-brown: rgba(168, 106, 70, 1);
}


/* @layer components {
  .btn-brand-fill {
    background-color: var(--brandColor);
    color: white;
    border-color: var(--brandColor);
  }

  .btn-brand-outline {
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
  }
} */

@theme inline {
  --color-brandColor: #354EA0;
  --color-brown: #321B08;
}

/* This dims all thumbnail slides */
.mySwiper .swiper-slide {
  position: relative;
  filter: brightness(0.5);
  /* darkens all thumbnails */
  transition: filter 0.3s ease;
}

/* This removes the dim from the active thumbnail */
.mySwiper .swiper-slide-thumb-active {
  filter: brightness(1);
}

body {
  font-family: var(--font-gilroy);
    overflow-x: hidden;
     scroll-behavior: auto !important;
}

h1,
h2 {
  font-family: var(--font-vigosamine);
}




.clear-btn {
  @apply px-7 py-1 border border-brandColor bg-transparent rounded-full sm:text-lg text-base font-normal tracking-wide text-brandColor;
}

.blue-btn {
  @apply px-7 py-1 border border-brandColor bg-brandColor rounded-full sm:text-lg text-base font-normal tracking-wide text-white;
}

.heading {
  @apply text-3xl md:text-4xl lg:text-5xl font-light text-darkbrown mb-6 md:mb-8;
}

.para {
  @apply text-sm sm:text-lg text-gray leading-relaxed;
}

 
     
   .swiper-pagination {
          position: relative !important;
          margin-top: 1.5rem !important;
          text-align: center;
      
        }
        
     .swiper-pagination-bullet {
          margin: 0 6px !important;
          transition: all 0.3s ease !important;
          background-color: rgba(53, 78, 160, 1) !important;
          border:1px solid rgba(53, 78, 160, 1) !important;
             height:10px !important;
           width: 10px !important;
      
     
        }
 .swiper-pagination-bullet:hover {
          transform: scale(1.2);
        
        }

        @media (max-width: 1024px) {
.swiper-pagination {
            margin-top: 1rem !important;

          }
        }
